:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) } 
  100% { transform: rotate( 0.0deg) }

}
.nav-element:hover {
  color: green !important;
  text-decoration: underline !important;
  
}
.dropdown-element {
  text-decoration: none;
}
.hero-img {
  height: auto;
  width: 100vw;
  max-width: 50em;
  max-height: 50em;
  position: relative;
}
.text-content {
  text-align: left;
}
.portre {
  border-radius: 50% 0 50% 50%;
  height: auto;
  width: 100vw;
  max-width: 50em;
  max-height: 50em;
  overflow: hidden;
}
.portre-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-wrapper {
  position: absolute;
  top: 30px;
  z-index: 10;
  width: 10em;
}

.contact-wrapper {
  margin: 0 auto;
  max-width: 35em;

}